* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 81px;
    display: flex;
    align-items: center;
    padding-left: 3.15rem;
    padding-right: 3.15rem;
    gap: 2.5rem;
    white-space: nowrap;
    justify-content: center;
    border-bottom: 1px solid rgb(221, 219, 219);
}
header img{
    height: 5rem;
    width: 5rem;
}
header .search{
    border: 2px solid #e2e2e2;
    height: 3.31rem;
    width: 35%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

header .search img{
    height: 25px;
    width: 25px;
}
header .search .lupa{
    height: 23px;
    width: 23px;
}
header .barra{
    height: 100%;
    width: 90%;
    background-color: none;
    border: none;
    outline: none;
    font-size: 18px;
    border-right: 1px solid black;
}
header .search span{
    color: gray;
    font-size: 15px;
}
header .gps{
    display: flex;
    align-items: center;
    padding: 15px;
    height: 23px;
}


header .icons{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


 header .search input{
    font-size: 15px;
}

header a{
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}
header .icon{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
header .buttons{
    display: flex;
    gap: 20px;
    font-size: 0.9rem;
}
header .buttons .entrar{
    height: 40px;
    width: 110px;
    border-radius: 20px; 
    border: 1px solid gray;
    background-color: inherit;
}
header .buttons .entrar:hover{
    color: #ea52ea;
    border: 1px solid #ea52ea;
    transition: scale();
}

header .buttons .anuncio{
    height: 40px; 
    width: 130px;
    border-radius: 20px;
    background-color: #ffa33a;
    border: inherit;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 3px;
}
header .buttons img{
    height: 25px;
    width: 25px;
}
header .buttons .anuncio:hover{
    background-color: #e08b29;
    transition: scale();
}

.icons-menores{
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 30px;
    justify-content: center;
    height: 70px;
    width: 100%;

}
.icons-menores .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    font-size: 0.7rem;
    padding: 20px;
    gap: 2px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    height: 50px;
    width: 100px;
}
.icons-menores .icon:hover{
    transform: translateY(2px);
    border: 2px solid rgb(238, 234, 234);
}
.icons-menores .icon img{
    width: 22px;
    height: 22px;
}

/* Main */

main{
    padding-top: 4%;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .container{
    width: 90%;
    height: 100vh;    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main .caixa{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;

}
main .nome{
    font-size: 18px;
    font-weight: bold;
}
main .preco{
    font-weight: bold;
    font-size: 19px;
    color: #aa05aa;
}

main .card {
    border: 1px solid rgb(221, 219, 219);
    padding: 10px;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25em;
    gap: 10px;
    text-align: center;
}

main .card:hover {
    transform: translateY(-5px);
    border: 2px solid #ea52ea;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
}

main .card img {
    height: 160px;
    width: 240px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

main .card img:hover {
    transform: scale(1.05);
}
.estrelas {
    font-size: 24px;
    cursor: pointer;
    color: gold;
    transition: transform 0.2s;
  }
  
  .estrela:hover {
    transform: scale(1.2);
  }


/* Arrumar SVGS */
  .icon-svg {
    width: 28px;
    height: 28px;
    transition: color 0.3s;
    stroke: #000000;
    stroke-width: 1.5;
    fill: none;
}
.icon-svg-square {
    width: 28px;
    height: 28px;
    transition: color 0.3s;
    stroke: #000000;
    stroke-width: 4;
    fill: none;
}
.icon-svg-square:hover{
    stroke: #aa05aa;
}
  
  .icon-svg:hover {
    stroke: #aa05aa; /* cor ao passar o mouse */
  }
  .icon a:hover{
    color: #aa05aa;
  }